body {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.navbar-brand {
    padding: 5px 15px;
}

.navbar-brand img {
    height: 38px;
}

.sched-right {
    text-align: right;
}
